@import "base";

#mainnav{
	position: fixed;
	z-index: 500;
	top: 0;
	width: 100%;
	background: $orange;
}
#mainnav .menu-toggle{
	display: none;
	padding: 8px 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	@include width-matches($mobile){
		display: block;
	}
}
#mainnav ul{
	display: table;
	list-style: none;
	width: 960px;
	margin: auto;

	@include width-below($small-desktop){
		width: 100%;
	}
	@include width-matches($mobile){
		display: none;
	
		&.active{
			display: block;
		}
	}
}
#mainnav li{
	display: table-cell;
	vertical-align: middle;

	@include width-matches($mobile){
		display: block;
	}
}
#mainnav .menu-link{
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: -15px;
	padding-bottom: 7px;
	padding-left: 5px;

	@include width-matches($mobile){
		margin-top: 0;
	}

	&:before{
		@include rem-sizing('font-size', 40);
		font-family: entypo;
		position: relative;
		top: 12px;
		color: #c05a08;
		@include transition();
	
		@include width-matches($mobile){
			@include rem-sizing('font-size', 28);
			top: 8px;
		}
	}
	&.accueil:before{
		content: '\e000';
	}
	&.motivations:before{
		content: '\e001';
	}
	&.campus:before{
		content: '\e002';
	}
	&.travaux:before{
		content: '\e003';
	}
	
	&:hover:before{
		color: #fff;
	}
}

section{
	@include background-size(cover);
	background-position: center;
	background-repeat: no-repeat;
	
	&:target{
		padding-top: 50px;
	}
}
#accueil,
#partenaire-1,
#partenaire-2{
	min-height: 700px;

	@include width-matches($tablet){
		min-height: 500px;
	}
	@include width-matches($mobile){
		min-height: 400px;
	}
}
div.wrapper{
	width: 960px;
	margin: auto;
	
	@include width-below($small-desktop){
		width: 100%;
	}
}

//sldies de texte
div.wrapper h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 35px;
}
div.content{
	padding-bottom: 40px;
}
div.content p{
	width: 500px;
	margin: auto;
	line-height: 1.4;
	
	& + p{
		margin-top: 34px;
	}
	
	@include width-matches($mobile){
		width: 90%;
	}
}

#accueil{
	padding: 40px 0;
	background-image: url('../img/vue-aerienne.jpg');
}
#accueil h1{
	background: rgba(0,0,0,.3);
	width: 800px;
	margin: 100px auto 0;
	padding: 35px 5px;
	text-align: center;

	@include width-below($small-desktop){
		width: 80%;
		@include rem-sizing('font-size', 44);
	}
	@include width-below($tablet){
		width: 80%;
		@include rem-sizing('font-size', 36);	
	}
}
#accueil h1 .alternate{
	display: block;
	color: #fff;
	@include rem-sizing('font-size', 40);

	@include width-below($small-desktop){
		@include rem-sizing('font-size', 30);
	}
	@include width-below($tablet){
		@include rem-sizing('font-size', 24);	
	}
}

#partenaire-1{
	background-image: url('../img/vue-externe.jpg');
}
#partenaire-2{
	background-image: url('../img/vue-interieur.jpg');
}

ul.galerie{
	list-style: none;
	background: #d9d9d9;
	padding: 25px 0;
	min-height: 220px;
	margin-top: 20px;
}
ul.galerie li{
	float: left;
	margin: 15px;
	display: none;
}
ul.galerie li.appear{
	display: block;
	opacity: 0;
	@include translateY(300px);
	@include animation(slideIn 0.5s ease forwards);
}
ul.galerie a{
	display: block;
	width: 250px;
	height: 140px;
	@include background-size(cover);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	
	&.img-78{
		background-image: url('../img/archives/ecg_78.jpg');
	}
	&.img-85{
		background-image: url('../img/archives/ecg_85.jpg');
	}
	&.img-batiment{
		background-image: url('../img/archives/ecg-batiment.jpg');
	}
}

ul.travaux{
	list-style: none;
	padding: 25px 0;
	min-height: 220px;
	margin-top: 20px;
}
ul.travaux li{
	display: none;
}
ul.travaux li.appear{
	display: block;
	opacity: 0;
	@include animation(slideIn 0.5s ease forwards);
	@include translateX(-800px);
	
	&:nth-child(odd){
		@include translateX(-800px);
	}
	&:nth-child(even){
		@include translateX(800px);
	}
}
ul.travaux a{
	position: relative;
	display: table;
	margin: 50px auto;
	width: 820px;
	height: 180px;
	@include background-size(cover);
	background-position: center;
	background-repeat: no-repeat;
	@include rem-sizing('font-size', 22);
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $heading-font;
	text-align: center;
	
	@include width-below($small-desktop){
		width: 740px;
	}
	@include width-below($tablet){
		width: 90%;
	}
	
	&:first-child{
		margin-top: 0;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		z-index: 100;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.2);
		@include transition();
	}
	&:hover:before{
		background: rgba(0,0,0,.5);
	}
	
	&.usine{
		background-image: url('../img/travaux/pre-destruction.jpg');
	}
	&.demolition{
		background-image: url('../img/travaux/destruction.jpg');
	}
	&.construction{
		background-image: url('../img/travaux/destruction-noirblanc.jpg');
	}
	&.fin-demolitions{
		background-image: url('../img/travaux/destruction-batiment.jpg');
	}
	&.terrassement-1{
		background-image: url('../img/travaux/pano-1.jpg');
	}
	&.terrassement-2{
		background-image: url('../img/travaux/pano-2.jpg');
	}
	&.terrassement-3{
		background-image: url('../img/travaux/pano-3.jpg');
	}
	&.grue{
		background-image: url('../img/travaux/pano-4.jpg');
	}
	&.fondations{
		background-image: url('../img/travaux/pano-5.jpg');
	}
}
ul.travaux div.table-wrap{
	display: table-cell;
	vertical-align: middle;
}
ul.travaux a span{
	position: relative;
	display: block;
	width: 80%;
	z-index: 101;
	padding: 14px;
	margin: auto;
	opacity: .4;
	border: 1px solid #fff;
}
ul.travaux a:hover span{
	opacity: 1;
}